@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f5d6d6;
    font-family: 'Poppins', sans-serif;
}

.app__header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title{
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: -1em;
    font-size: 1em;
}

.bx{
    vertical-align: middle;
}

.bx-plus{
    cursor: pointer;
    border-radius: 50%;
    padding: .1em;
    transition: background-color .2s ease;
}

.bx-plus:hover{
    background-color: #eeebeb;
}

.eventos-interaccion{
    position: fixed;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin: 0;
    padding: 1em 1em;
    z-index: 10;
    background-color: #f5d6d6;
    border-bottom: 2px solid white;
}

.input-busqueda,
.select-mes{
    padding: .6em 1em;
    background-color: #faf8f8;
    outline: none;
    border: none;
    font-size: 1em;
    border: 2px solid rgb(233, 213, 217);
    border-radius: 5px;
}

.input-busqueda:disabled::placeholder{
    color: rgb(196, 196, 196);
}

.eventos-interaccion li{
    text-align: center;
    width: 200px;
}

.li-middle{
    display: flex;
    justify-content: center;
}

.eventos-interaccion li i{
    align-self: center;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__today{
    margin-top: 8em;
    text-align: center;
}

.main__today h1{
    font-size: 2em;
    margin: 0;
    font-weight: 300;
}

.main__container-input{
    position: relative;
    width: 600px;
    height: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.bx{
    font-size: 25px;
}

.input{
    border: none;
    background-color: #faf8f8;
    outline: none;
    position: relative;
    font-size: 1em;
    width: 600px;
    padding: 1em 1.2em;
    height: 3rem;
    border-radius: 10px;
    box-shadow:  5px 5px 1px #c5a3a35e;
    transition: transform .5s ease;
}

.input-nombre{
    z-index: 4;    
}
.input-desc{
    z-index: 3;    
}
.input-date{
    z-index: 2;    
}
.input-time{
    z-index: 1;    
}

.input-date,
.input-desc,
.input-time{
    position: absolute;
    top: 0;
    left: 0;
}

.input-desc-desplazar{
    transform: translate(0,5rem);
}

.input-date-desplazar{
    transform: translate(0,10rem);
}

.input-time-desplazar{
    transform: translate(0,15rem);
}


/* Eventos notas*/

.eventos{
    width: 100%;
    padding: 1em 5em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 2em;
}

.container__evento-nota,
.no-eventos{
    margin: 2em auto;
    transform: rotateZ(-3deg);
    transform-origin: top right;
    background: linear-gradient(
    #faf8ef 98%,
    #bdbdbd 98%);
    background-size: 100% 40px;
    background-position: 0 1em;
    padding: 1em;
    transition: transform .3s ease;
    cursor: move;
}

.container__evento-nota:hover{
    transform: rotateZ(-5deg);
}

.container__evento-nota ul{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 0;
    list-style: none;
    padding: 0;
}
/* sortable */
.eventos .seleccionado{
    box-shadow: 0 0 20px rgb(245, 216, 216);
}

.eventos .fantasma .evento-nota .evento-fecha i{ 
    top: -1.5em;
    right: -1.5em;
}


ul li{
    line-height: 40px;
}

/* Notas */
.evento-nota .evento-fecha i{
    position: absolute;
    top: -.8em;
    right: -.8em;
    font-size: 35px;
    transition: all .2s ease;
}


.evento-nota .evento-fecha span{
    font-size: 1.2em;
    border-bottom: 2px ridge rgb(0, 0, 0)
}

.evento-nota .evento-time{
    position: absolute;
    top: 3.5em;
    right: 0;
    font-size: 1.5em;
}

.evento-nota .evento-time span{
    position: relative;
    top: -.2em;
}

.evento-nota .evento-info{
    position: relative;
    top: 60px;
}

.evento-nota .evento-info p{
    line-height: 40px;
}

.evento-nota .evento-nombre{
    display: inline;
    font-size: 1.3em;
    background-color: #dabbb7;
}

.eliminar-evento i{
    font-size: 35px;
}

.eliminar-evento{
    cursor: pointer;
    position: absolute;
    bottom: -1em;
    text-align: center;
    transition: opacity .2s ease;
}

.eliminar-evento:hover{
    opacity: .6;
}

.eventos-prueba{
    border: none;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background: none;
    padding: .2;
    border-bottom: 1px solid black;
}

.display{
    display: none;
}

/* Api */

.container__api{
    position: relative;
    top: 4.5em;
    transform: translate(0,-5rem);
    transition: transform .7s ease;
}

.translate-api{
    transform: translate(0,0);
}

#temp-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
    padding: 0 2em;
    height: 5rem;
    box-shadow: 2px 2px 5px 5px #c5a3a35e;
}

#temp-valor{
    font-weight: 300;
    font-size: 2em;
    margin: 0;
}

#temp-desc{
    position: relative;
    font-weight: 300;
    width: 130px;
    font-size: 1.2em;
}

.ubi-box{
    display: flex;
    width: 200px;
}

#ubi{
    font-weight: 300;
    font-size: 1.5em;
    width: 200px;
}

.desc-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

#icono-animado{
    align-self: center;
}

.no-eventos{
    grid-column: 3;
    transform: rotateZ(-20deg);
}

.sin-eventos{
    position: absolute;
    top: -.4em;
    right:-.4em;
}

@media (max-width: 1100px){
    .eventos{
        grid-template-columns: repeat(3, 1fr);
    }

    .no-eventos{
        grid-column: 2;
    }
}

@media (max-width: 800px){
    .eventos{
        grid-template-columns: repeat(2, 1fr);
    }

    .no-eventos{
        grid-column: 2;
    }
}

@media (max-width: 500px){

    .eventos-interaccion{
        justify-content: center;
        gap: 2em;
    }
    
    .focus-input span{
        display: none;
    }

    .main__container-input{
        position: relative;
        width: 400px;
        height: 300px;
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
    }

    .input{
        width: 400px;
    }

    .eventos{
        grid-template-columns: repeat(1, 1fr);
    }

    .no-eventos{
        grid-column: 2;
    }
}
