@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #cdb7b7;
    font-family: 'Poppins', sans-serif;
}

.app__header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: .5em;
    width: 60%;
    list-style: none;
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__today{
    margin-top: 5em;
    text-align: center;
    font-weight: 500;
}

.main__container-input{
    position: relative;
    width: 600px;
    height: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.bx{
    font-size: 25px;
}

.input{
    border: none;
    background-color: #ecd2d2;
    outline: none;
    position: relative;
    font-size: 1em;
    width: 600px;
    padding: 1em 1.2em;
    border-radius: 20px;
    box-shadow:  20px 20px 30px #ae9c9c,
             -20px -20px 50px #ecd2d2;
    transition: transform .5s ease;
}

.input-nombre{
    z-index: 4;    
}
.input-desc{
    z-index: 3;    
}
.input-date{
    z-index: 2;    
}
.input-time{
    z-index: 1;    
}

.input-date,
.input-desc,
.input-time{
    position: absolute;
    top: 0;
    left: 0;
}

.input-desc-desplazar{
    transform: translate(0,5rem);
}

.input-date-desplazar{
    transform: translate(0,10rem);
}

.input-time-desplazar{
    transform: translate(0,15rem);
}


/* Eventos notas*/

.eventos{
    width: 100%;
    padding: 1em 5em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 2em;
    /* display: flex;
    flex-wrap: wrap;
    gap: 1.5em; */
}

@media (max-width: 1100px){
    .eventos{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px){
    .eventos{
        grid-template-columns: repeat(2, 1fr);
    }
}


.container__evento-nota{
    margin: 2em auto;
    transform: rotateZ(-3deg);
    transform-origin: top right;
    background: linear-gradient(
    #faf8ef 98%,
    #bdbdbd 98%);
    background-size: 100% 40px;
    background-position: 0 1em;
    padding: 1em;
    transition: transform .3s ease;
    cursor: move;
}

.container__evento-nota:hover{
    transform: rotateZ(-5deg);
    
}



.container__evento-nota ul{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 0;
    list-style: none;
    padding: 0;
}
/* sortable */
.eventos .seleccionado{
    box-shadow: 0 0 20px rgb(245, 216, 216);
}

/* .eventos .sortable-drag{
    opacity: 0;
    
} */

.eventos .fantasma .evento-nota .evento-fecha i{ 
    top: -1.5em;
    right: -1.5em;
}


ul li{
    line-height: 40px;
}

/* Notas */
.evento-nota .evento-fecha i{
    position: absolute;
    top: -.8em;
    right: -.8em;
    font-size: 35px;
    transition: all .2s ease;
}


.evento-nota .evento-fecha span{
    font-size: 1.2em;
    border-bottom: 2px ridge rgb(0, 0, 0)
}

.evento-nota .evento-time{
    position: absolute;
    top: 3.5em;
    right: 0;
    font-size: 1.5em;
}

.evento-nota .evento-time span{
    position: relative;
    top: -.2em;
}

.evento-nota .evento-info{
    position: relative;
    top: 60px;
}

.evento-nota .evento-info p{
    line-height: 40px;
}

.evento-nota .evento-nombre{
    display: inline;
    font-size: 1.3em;
    background-color: #ae9c9cee;
}

.eliminar-evento i{
    font-size: 35px;
}

.eliminar-evento{
    cursor: pointer;
    position: absolute;
    bottom: -1em;
    text-align: center;
    transition: opacity .2s ease;
}

.eliminar-evento:hover{
    opacity: .6;
}

.eventos-interaccion{
    /* position: fixed; */
    display: flex;
    justify-content: center;
    gap: 1em;
}

.eventos-prueba{
    background-color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color.5s ease;
}

.eventos-prueba:hover{
    background-color: #ecd2d2;
}

/*  */

/* -Que se pueda seleccionar color de la nota
   -Que se pueda colocar o ubicarse en lugares random */